.app-bg {
  background-image: url(https://wallpaperaccess.com/full/340545.jpg);
  background-size: cover;
  background-position: center;
}

.chat-bg {
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1711642517/wallpaperflare.com_wallpaper_dom1hj.jpg);
  background-size: cover;
  background-position: center;
}

.chat-home {
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1711779947/23484385_seam_new_13_02_2022_04_xq3s74.jpg);
  background-size: cover;
  background-position: center;
}

.hide-bar::-webkit-scrollbar {
  width: 0;
}

.user-scroll::-webkit-scrollbar {
  width: 0;
}
