.app-bg {
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1711963874/2150749330_otfaa7.jpg);
  background-size: cover;
  background-position: center;
}

.chat-bg {
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1711642517/wallpaperflare.com_wallpaper_dom1hj.jpg);
  background-size: cover;
  background-position: center;
}

.chat-home {
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1711779947/23484385_seam_new_13_02_2022_04_xq3s74.jpg);
  background-size: cover;
  background-position: center;
}

.hide-scroll-bar::-webkit-scrollbar {
  width: 0;
}

.chat-info {
  background-image: url(https://res.cloudinary.com/diuvnny8c/image/upload/v1711867087/10117764_4346281_qhpfko.jpg);
  background-size: cover;
  background-position: center;
}

.delivery-time {
  font-size: 8px;
  font-weight: 600;
  color: #31363f;
}

.custom-container-height {
  height: 500px;
}
